<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expense 만들기</title>
</head>
<body>
    <h1>새 비용 만들기</h1>
    <hr/>
<!--    attributeName 으로 expense를 만들었다.-->
    <form th:object="${expense}" th:action="@{/saveOrUpdateExpense}" method="post">
        <input type="text" th:field="*{name}" placeholder="이름 입력" />
        <br /><br />
        <input type="text" th:field="*{amount}" placeholder="비용 입력" />
        <br /><br />
        <input type="date" th:field="*{date}" />
        <br /><br />
        <textarea rows="5" th:field="*{description}" placeholder="설명 입력"></textarea>
        <br /><br />
        <button type="submit">Submit</button>
    </form>
</body>
</html>